.dockerignore
app/data/school.db
app/__pycache__/database.cpython-313.pyc
app/__pycache__/dependencies.cpython-313.pyc
app/schemas/__pycache__/__init__.cpython-313.pyc
app/schemas/__pycache__/absensi.cpython-313.pyc
app/schemas/__pycache__/jadwal.cpython-313.pyc
app/schemas/__pycache__/kelas.cpython-313.pyc
app/schemas/__pycache__/mata_pelajaran.cpython-313.pyc
app/schemas/__pycache__/notifikasi.cpython-313.pyc
app/schemas/__pycache__/perilaku.cpython-313.pyc
app/schemas/__pycache__/rekapan_siswa.cpython-313.pyc
app/schemas/__pycache__/siswa.cpython-313.pyc
app/schemas/__pycache__/tugas.cpython-313.pyc
app/schemas/__pycache__/user.cpython-313.pyc
app/utils/__pycache__/security.cpython-313.pyc
app/__pycache__/database.cpython-313.pyc
app/__pycache__/dependencies.cpython-313.pyc
__pycache__/main.cpython-313.pyc
